* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 150%;
}

@import "./song";
@import "./audioplayer";
@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");

h1,
h2,
h3 {
  color: rgb(34, 34, 34);
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  font-family: "Zen Loop", cursive;
}
